{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>

        <!-- Affichage des erreurs si elles existent -->
        {% if error is defined and error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <!-- Affichage d'un message si l'utilisateur est déjà connecté -->
        {% if app.user %}
            <div class="alert alert-info">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}.
                <a href="{{ path('app_logout') }}" class="alert-link">Déconnexion</a>
            </div>
        {% endif %}

        <form method="post">
            <label for="username">Email</label>
            <input type="email" value="{{ last_username|default('') }}" name="_username" id="username" class="form-control" required autofocus>

            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div>
                <a href="{{ path('app_password') }}" class="btn btn-secondary">Mot de passe oublié</a>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

    </div>
{% endblock %}

