{% extends 'base.html.twig' %}



{% block body %}
    <div>
        <p>
            Date du jour : {{ "now"|format_date('long', locale='fr') }}<br>
        </p>
            {% if app.user %}
                <p>
                    {{ app.user.prenom }} {{ app.user.nom }}
                </p>
            {% else %}
                <p>Aucun utilisateur connecté</p>
            {% endif %}
    </div>
    <div>
        <h4>Filtrer les sorties</h4>
        <!--  Créer un form -->

        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        <button class="btn btn-secondary mb-5">Rechercher</button>
        {{ form_end(filterForm) }}

    </div>
    <table class="table">
        <thead>
        <tr class="table-info">
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clotûre</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrits</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut|format_datetime('long', 'short', locale='fr') }}</td>
                <td>{{ sortie.dateLimiteInscription|format_datetime('long', 'short', locale='fr') }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if app.user in sortie.participants %}X{% endif %}</td>
                <td>
                    <!--<a href="{# #}path('app_organisateur_show', {'id': sortie.organisateur.id}) }}"></a>-->
                    {{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}
                </td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% if app.user in sortie.participants %}
                        <a href="{{ path('main_home') }}">Se désister</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">Aucune sortie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('app_sortie_create') }}" class="btn btn-secondary">Créer une sortie</a>
    </div>


{% endblock %}

{% block title %} ENI | Accueil {% endblock %}