{% extends 'base.html.twig' %}

{% block title %}Détails de la Sortie{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center">
        <form class="row g-4 m-4">
            <h1 class="h1 text-center">Détails de la sortie</h1>
            <div class="col-md-6">
                <label for="nom" class="form-label">Nom de la sortie : </label>
                <input type="text" id="nom" class="form-control" value="{{ sortie.nom }}" disabled>

                <label for="date" class="form-label">Date et heure de la sortie: </label>
                <input type="text" id="date" class="form-control" value="{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}"
                       disabled>

                <label for="date" class="form-label">Date limite d'inscription : </label>
                <input type="text" id="date" class="form-control"
                       value="{{ sortie.dateLimiteInscription|date('d/m/Y') }}" disabled>

                <label for="place" class="form-label">Nombre de places : </label>
                <input type="text" id="place" class="form-control" value="{{ sortie.nbInscriptionsMax }}" disabled>

                <label for="duree" class="form-label">Durée : </label>
                <input type="text" id="duree" class="form-control" value="{{ sortie.duree }} minutes" disabled>
            </div>
            <div class="col-md-6">
                <label for="campus" class="form-label">Campus : </label>
                <input type="text" id="campus" class="form-control" value="{{ sortie.campus.nom }}" disabled>

                <label for="ville" class="form-label">Ville : </label>
                <input type="text" id="ville" class="form-control" value="{{ sortie.lieu.ville.nom }}" disabled>

                <label for="lieu" class="form-label">Lieu : </label>
                <input type="text" id="lieu" class="form-control" value="{{ sortie.lieu.nom }}" disabled>

                <label for="lieu" class="form-label">Rue : </label>
                <input type="text" id="lieu" class="form-control" value="{{ sortie.lieu.rue }}" disabled>

                <label for="code_postal" class="form-label">Code postal : </label>
                <input type="text" id="code_postal" class="form-control" value="{{ sortie.lieu.ville.codePostal }}"
                       disabled>

                <label for="latitude" class="form-label">Latitude : </label>
                <input type="text" id="latitude" class="form-control" value="{{ sortie.lieu.latitude }}" disabled>

                <label for="longitude" class="form-label">Longitude : </label>
                <input type="text" id="longitude" class="form-control" value="{{ sortie.lieu.longitude }}" disabled>
            </div>
            <div class="col-12">
                {% if sortie.etat.libelle == 'Annulée' %}
                    <label for="InfosSortie" class="form-label text-danger d-block text-center">Raison de l'annulation : </label>
                    <textarea id="InfosSortie" class="form-control" rows="4"
                              disabled>{{ sortie.InfosSortie }}</textarea>
                {% else %}
                    <label for="InfosSortie" class="form-label">Description et infos : </label>
                    <textarea id="InfosSortie" class="form-control" rows="4"
                              disabled>{{ sortie.InfosSortie }}</textarea>
                {% endif %}
            </div>

        </form>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-4">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Listes des participants {{ sortie.participants|length }}
                        /{{ sortie.nbInscriptionsMax }}</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <th scope="row">{{ participant.prenom }} {{ participant.nom }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row">Pas encore d'inscription</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <a href="{{ path('main_home') }}" class="btn btn-secondary flex-fill">Retour à la liste</a>
            {% if app.user == sortie.organisateur and sortie.etat.libelle != 'Annulée' %}
                <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="btn btn-primary flex-fill">Modifier</a>
                <form method="post" action="{{ path('app_sortie_delete', {'id': sortie.id}) }}"
                      class="d-inline m-0 p-0 border-0 flex-fill"
                      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?')">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
                    <button class="btn btn-danger w-100">Supprimer</button>
                </form>
            {% endif %}
            {% if app.user not in sortie.participants and sortie.etat.libelle == 'Ouverte' and sortie.participants|length < sortie.nbInscriptionsMax %}
                <form class="d-inline m-0 p-0 border-0 flex-fill" method="post"
                      action="{{ path('app_inscription_sortie', {'id': sortie.id}) }}"
                      onsubmit="return confirm('Vous inscrire à cette sortie ?')">
                    <input type="hidden" name="_method" value="POST">
                    <button class="btn btn-success w-100">S'inscrire</button>
                </form>
            {% endif %}
        </div>
    </div>



{% endblock %}
