{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <div class="container-fluid col-10">

        <h1 class="h1 text-center">Toutes les villes</h1>
        <table>
            <thead>
            <tr>
                <th>Code Postal</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.codePostal }}</td>
                    <td>{{ ville.nom }}</td>
                    <td>
                        <div class="d-flex gap-2">
                            <div class="col-6"><a href="{{ path('app_ville_show', {'id': ville.id}) }}"
                                                  class="btn  btn-outline-primary w-100 m-0">Voir</a></div>
                            <div class="col-6">
                                <form method="post" action="{{ path('app_ville_delete',{'id': ville.id}) }}"
                                      class="m-0 p-0 border-0"
                                      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Ville ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
                                    <button type="submit" class="btn btn-outline-danger w-100 m-0">Supprimer</button>
                                </form>
                            </div>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">Aucune ville trouvée.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex gap-2">
            <a href="{{ path('main_home') }}" class="btn btn-secondary w-100 flex-fill mt-5">Retour à l'acceuil</a>
            <a href="{{ path('ville_create') }}" class="btn btn-success w-100 flex-fill mt-5">Créer une nouvelle ville</a>
        </div>
    </div>
{% endblock %}
